
@{
    ViewBag.Title = "PMG List";
}
<style>
    .text-right1200 {
        text-align: left !important;
    }

    .float-left {
        float: left;
    }

    .float-right {
        float: right;
    }

    .inline-flex {
        display: inline-flex;
    }

    .margin0-set {
        margin-left: 0px;
        margin-right: 0px;
    }

    input.form-control, select.form-control {
        border-radius: 0px;
    }
</style>
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Administration</span>
        <span>/</span>
        <span>PMD List</span>
    </div>
}
<div class="row margin0-set">
    <div class="col-sm-12">
        <h1 style="text-align:center;font-weight: bold;padding-top: 50px">PMD List</h1>
    </div>
</div>
<div class="container-fluid" style="padding-top: 20px;padding-bottom: 30px;">
    <div class="navbar-collapse" style="padding-bottom: 10px;">
        <div class="col-sm-4 text-left float-left">
            <button class="button" id="btnAdd" onclick="AddDevice()" style="width:120px;">Add PMD</button>
        </div>
        <div class="col-sm-8 text-right float-right">
            <div class="navbar-form" role="search">
                <label for="search-user-name float-left">PMD Name:</label>
                <div class="form-group inline-flex">
                    <input type="text" class="form-control" id="search-device-name" placeholder="PMD Name">
                    <button id="search" class="button" style="margin-left: 14px;">Search</button>
                    <button id="resetId" class="button" style="margin-left: 14px;border-radius: 0px;">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mainContent" class="layui-form">
    <div id="about-div-device">
        <table id="about-table-deviceinfo" class="table">
            <thead>
                <tr class="header-background">
                    <th>PMD Name</th>
                    <th>ID</th>
                    <th>Device Type</th>
                    <th>Last Update</th>
                    <th>Direction</th>
                    <th>Online Flag</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="bindData"></tbody>
        </table>
        @Html.Partial("_PartialPage")
    </div>
</div>
<script>
    var pageSize = 10;
    function search() {
        var pageIndex = $("#PageIndex").val();
        $.ajax({
            url: "@Url.Content("~/Device/GetDeviceList")",
            data: {
                "pageIndex": parseInt(pageIndex),
                "pageSize": pageSize
            },
            dataType: 'json', type: "POST",
            success: function (result) {
                $("#total").html(result.iCount);
                var pageCount = result.pageCount == 0 ? 1 : result.pageCount;
                $("#divPagination").jqPaginator({
                    totalPages: parseInt(pageCount),
                    visiblePages: 10,
                    currentPage: parseInt(pageIndex),
                    onPageChange: function (num, type) {
                        $('#PageIndex').val(num);
                        if ($('#divPagination .active').eq(0).attr('jp-data') !== num.toString()) {
                            search();
                        }
                    }
                });
                var html = "";
                var a = 1;
                if (result.list.length > 0) {
                    for (var i = 0; i < result.list.length; i++) {
                        if (a % 2 != 0) {
                            html += '<tr>';
                        } else {
                            html += '<tr class="widget-tr-backgroud">';
                        }
                        a++;
                        html +=
                                  ' <td class="text-center"><a style="color:blue;" onclick="ViewHistoryData(\'' + result.list[i].IMSI + '\')" title="View History Location">' + result.list[i].PMDName + '</td>' +
                                  ' <td class="text-center">' + result.list[i].PMDID + '</td>' +
                                  ' <td class="text-center">' + result.list[i].DeviceType + '</td>' +
                                  ' <td class="text-center">' + result.list[i].NewConfigurationTime + '</td>' +
                                  ' <td class="text-center">' + result.list[i].Direction + '</td>' +
                                  ' <td class="text-center">' + result.list[i].ShowConnection + '</td>' +
                                  ' <td class="text-center">' +
                                  '<a href="/Device/Edit?id=' + result.list[i].IMSI + '" title="Edit device"><img src="/img/edit.png" class="operationIcon"></a>' +
                                  '<a  onclick="confirmDel(\'' + result.list[i].IMSI + '\')" title="delete this device"><img src="/img/delete.png"  class="operationIcon"></a>';

                        //html += '<a href="/Device/ViewMessage?devType=' + result.list[i].IntDeviceType + '&pmdId=' + result.list[i].PMDID + '"  title="show messages"><img src="/img/operateBtn4-active.png"  class="operationIcon"></a>';
                        html += '</td>';
                        html += '</tr>';
                    }
                } else {
                    html += '<tr><td class="text-center" colspan="8">No data</td></tr>';
                }
                $("#bindData").html(html);
            }
        });
    }

    search();
    function ViewHistoryData(imsi) {
        window.location.href = "@Url.Content("/Device/DeviceLocation/")" + imsi;
    }
    function AddDevice() {
        window.location.href = "@Url.Action("Add", "Device")";
    }
    function confirmDel(imsi) {
        if (confirm("Are you sure to delete device?")) {
            var index = layer.load();
            $.post("/Device/Delete", { "IMSI": imsi }, function (data) {
                layer.close(index);
                window.location.href = "/Device/Index";
            });

        }
    }
    function confirmClock(IMSI, type) {
        var activeId = 0;
        var strConfirm = "";
        if (type == 0) {
            activeId = 1;
            strConfirm = "are you sure you want to de-activate this device?";
        } else {
            activeId = 0;
            strConfirm = "are you sure you want to activate this device?";
        }

        if (confirm(strConfirm)) {
            $.post("/Device/Check", { "IMSI": IMSI, "activeId": activeId }, function (data) {
                if (data) {
                    window.location.href = "/Device/Index";
                }
            });
        }
    }
    function SearchDevice() {
        var txt = $("#search-device-name").val();
        var trs = $("#about-table-deviceinfo tbody tr");
        if (txt.length === 0) {
            trs.show();
        } else {
            trs.each(function () {
                var deviceName = $(this).children("td").eq(0).find("a").text();
                if (deviceName.toUpperCase().indexOf(txt.toUpperCase()) < 0) {
                    $(this).hide();
                }
            });
        }
    }
    $("#resetId").click(function () {
        $("#search-device-name").val("");
        SearchDevice();
    });
    $("#search").click(function () {
        SearchDevice();
    });

    // Enter.
    $("#search-device-name").bind("keydown", function (event) {
        var code = event.keycode ? parseInt(event.keycode) : parseInt(event.which);
        if (isNaN(code)) return true;
        if (code == 13) {
            SearchDevice();
        }
    });
    function ViewMessage(devType, pmdId) {
        layer.open({
            type: 2,
            title: "<span style='color: red;font-size: 16px;font-weight: bold;'>DeviceMessage</span>",
            shade: 0.6,
            area: ["850px", "500px"],
            // offset: ['24%', '42%'],
            content: '/Device/ViewMessage?devType=' + devType + '&pmdId=' + pmdId
        });
    }
</script>
