@{
    ViewBag.Title = "About";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>About</span>
    </div>
}
<style>
 
    .layui-form-label {
      width:170px;
    }
</style>
<div id="mainContent" class="layui-form">
    <div class="layui-form-item" style="padding-top: 20px"></div>

    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>Product Identification</legend>
        </fieldset>
        <div class="layui-col-md4">
            <div class="layui-form-item">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label layui-form-label1">Model</label>
                    <div class="layui-input-inline">
                        <input type="text" name="text-line-name" class="form-control" id="PMGModel" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-form-item">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label">PMG Serial Number</label>
                    <div class="layui-input-inline">
                        <input type="text" name="text-line-name" class="form-control" id="PMGSerialNumber" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="layui-form-item" style="margin-left: 25%;">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label" style="width: auto;padding:0px;"><button class="button margin-left5" onclick="Factory()">Factory Reset</button></label>
                </div>
            </div>
        </div>
    </div>


    <div class="layui-row" style="margin-top:20px;margin-bottom:30px;">
        <hr style="width: 99%;">
        <div class="layui-col-md12">
            <table id="about-table-deviceinfo" class="table text-center">
                <thead>
                    <tr class="header-background">
                        <th>Module Name</th>
                        <th>Serial Number</th>
                        <th>Hardware Version</th>
                        <th>Firmware</th>
                        <th>Module Library</th>
                    </tr>
                </thead>
                <tbody id="dataBind"></tbody>
            </table>
        </div>
    </div>

</div>
@section scripts{
    <script>

        function Factory() {
            var index = layer.confirm('PMG saved data and settings would be lost after reset.Do you want to continue ?', {
                title: false, closeBtn: 0, offset: 'auto', btn: ['Yes', 'No']
            }, function () {
                layer.close(index)
                $ajaxFunc("/PMG/FactoryReset", {}, function (res) {
                    console.log("res:", res)
                    if (res.code == 0) {
                        LayerAlert(res.msg)
                        initData()
                    } else {
                        LayerAlert(res.msg)
                    }
                });
            });

        }


        function initData() {
            $ajaxFunc("/PMG/GetAboutData", {}, function (res) {
                console.log("res:", res)
                if (res.code == 0) {
                    $("#PMGModel").val(res.model.PMGModel);
                    $("#PMGSerialNumber").val(res.model.PMGSerialNumber);

                    var html = "";
                    if (res.model.ModuleList && res.model.ModuleList.length > 0) {
                        for (var i = 0; i < res.model.ModuleList.length; i++) {
                            var item = res.model.ModuleList[i];
                            if (i % 2 == 0) {
                                html += '<tr>';
                            } else {
                                html += '<tr class="widget-tr-backgroud">';
                            }
                            html += ' <td>' + item.moduleName + '</td>' +
                                      ' <td>' + item.serialNumber + '</td>' +
                                      ' <td>' + item.hardwareVersion + '</td>' +
                                      ' <td>' + item.firmwareVersion + '</td>' +
                                      ' <td>' + item.moduleLibFirmwareVersion + '</td>';
                            html += '</tr>';

                        }
                    }

                    $("#dataBind").html(html);

                }
            });
        }

        $(function () {
            initData();
        })

    </script>
}
