@{
    ViewBag.Title = "About";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>About</span>
    </div>
}
<style>
    .layui-form-item .layui-input-inline {
        width: 230px;
    }
</style>
<div id="mainContent" class="layui-form">
    <div class="layui-form-item" style="padding-top: 20px"></div>

    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>Product Identification</legend>
        </fieldset>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label">Model</label>
                    <div class="layui-input-inline">
                        <input type="text" name="text-line-name" class="form-control" id="PMGModel" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label">Feature Enable Key</label>
                    <div class="layui-input-inline">
                        <input type="text" name="text-line-name" class="form-control" disabled="disabled" />
                    </div>
                    <label class="layui-form-label" style="width: auto;padding:0px;"><button class="button margin-left5">Send Key</button></label>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-row">
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label">PMG Serial Number</label>
                    <div class="layui-input-inline">
                        <input type="text" name="text-line-name" class="form-control" id="PMGSerialNumber" disabled="disabled" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="layui-col-md6">
            <div class="layui-form-item" style="float: right;margin-right: 12%;">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label" style="width: auto;padding:0px;"><button class="button margin-left5">Factory Reset</button></label>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-row" style="margin-top:30px;margin-bottom:30px;">
        <hr style="width: 99%;">
        <div class="layui-col-md12">
            <table id="about-table-deviceinfo" class="table text-center">
                <thead>
                    <tr class="header-background">
                        <th>Module Name</th>
                        <th>Serial Number</th>
                        <th>Hardware Version</th>
                        <th>Firmware</th>
                        <th>Module Library</th>
                    </tr>
                </thead>
                <tbody id="dataBind">
                  
                </tbody>
            </table>
        </div>
    </div>

</div>
@section scripts{
    <script>

        function Factory() {
            var load = layer.load();
            $.post('@Url.Content("~/PMG/FactoryReset")', { "sid": 1 }, function (res) {
                layer.close(load)
                alert("send message")
                return false;
            }, 'json');
        }


        function initData() {
            $ajaxFunc("/PMG/GetAboutData", {}, function (res) {
                console.log("res:", res)
                if (res.code == 0) {
                    $("#PMGModel").val(res.model.PMGModel);
                    $("#PMGSerialNumber").val(res.model.PMGSerialNumber);

                    var html = "";
                    if (res.model.ModuleList && res.model.ModuleList.length > 0) {                       
                        for (var i = 0; i < res.model.ModuleList.length; i++) {
                            var item = res.model.ModuleList[i];
                            if (i % 2 == 0) {
                                html += '<tr>';
                            } else {
                                html += '<tr class="widget-tr-backgroud">';
                            }
                            html += ' <td>' + item.moduleName + '</td>' +
                                      ' <td>' + item.serialNumber + '</td>' +
                                      ' <td>' + item.hardwareVersion + '</td>' +
                                      ' <td>' + item.firmwareVersion + '</td>' +
                                      ' <td>' + item.moduleLibFirmwareVersion + '</td>';
                            html += '</tr>';

                        }
                    }
                  
                    $("#dataBind").html(html);

                }
            });
        }

        $(function () {
            initData();
        })

    </script>
}