
@{
    ViewBag.Title = "Composite";
}
@section crumbs{
    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>Composite</span>
    </div>
}
<style>
    .layui-form-item .layui-inline {
        margin-bottom: 0px;
    }

    table#about-table-deviceinfo {
        margin: 20px 0px;
    }

        table#about-table-pmg th, table#about-table-deviceinfo th {
            font-size: 15px;
        }

    .selectedPageName {
        text-align: left;
        padding-left: 0px;
        font-size: 17px;
    }

    .pageOperation {
        margin: 23px 0px;
    }

    .text-options .layui-form-item {
        margin-bottom: 15px;
    }

    .pageOperation .button {
        width: 133px;
    }

    #dialogComposite .unit {
        float: right;
        margin-right: 28px;
    }

    #dialogComposite {
        width: 420px;
        display: none;
        padding-top: 40px;
    }
</style>
<div id="mainContent" class="layui-form text-options">
    <div class="layui-fuild">

        <div class="layui-row textOptions">
            <div class="select">
                <div class="title">
                    Composite Pages
                </div>
                <div class="select-box">
                    <select multiple="multiple" class="multiple multiple_pc" id="pageList"></select>
                </div>
            </div>
            <div class="selected">
                <div class="info">
                    <div class="layui-inline"><label class="layui-form-label selectedPageName">Composite Size</label></div>
                    Number Of Cycles
                    <div class="layui-input-inline">
                        <input type="number" class="form-control-number-points" id="NumberOfCycles" name="points" value="2" min="0" max="100" />
                        <div class="input-number-button">
                            <div class="add"></div>
                            <div class="reduce"></div>
                        </div>
                    </div>  (0 -- Continuous)
                    <div class="layui-inline">

                        <label class="layui-form-label">Panel Size</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <select class="form-control" id="pmgInch">
                                <option value="12">12 Inch</option>
                                <option value="15">15 Inch</option>
                                <option value="18">18 Inch</option>
                            </select>
                            <div class="select-button"></div>
                        </div>
                    </div>
                </div>
                
                <div class="selectBox">
                    <div class="selected-info">

                        <div class="layui-col-md10">
                            <table id="about-table-deviceinfo" class="table text-center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No</th>
                                        <th>Start Time(Seconds)</th>
                                        <th>Duration (Seconds)</th>
                                        <th>Display/Alert Type</th>
                                        <th>Filename</th>
                                    </tr>
                                </thead>
                                <tbody id="dataBind"></tbody>
                            </table>
                        </div>
                        <div class="layui-col-md2">
                            <div class="pageOperation">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="button" class="button" value="Add Segment" id="AddSegment" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="button" class="button" value="Edit Segment" id="EditSegment" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="button" class="button" value="Delete Segment" id="DeleteSegment" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="button" class="button" value="Clear All" id="ClearAll" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="button" class="button" value="Move Up" id="MoveUp" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <div class="layui-input-inline">
                                            <input type="button" class="button" value="Move Down" id="MoveDown" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="text_page_button" style="text-align: center; margin: 20px auto;">
        <input type="button" class="button width80" value="New" onclick="createPage()" />
        <input type="button" class="button width80" value="Save" onclick="savePage()" />
        <input type="button" class="button width80" value="Delete" onclick="deletePage()" />
        <input type="button" class="button width80" value="Restore To" onclick="restorePage()" style="display:none;" />
    </div>


    <input type="hidden" value="" id="hidPageName" />
</div>
<script src="~/Scripts/common/composite.js"></script>

<div id="dialogComposite">
    <div class="selected-options">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Display/Alert Type</label>
                <div class="layui-input-inline">
                    <select class="form-control" id="DisplayType">
                        <option value="0">Display None</option>
                        <option value="1">Display Speed</option>
                        <option value="2">Display Text</option>
                        <option value="3">Display Graphics</option>
                        <option value="4">Display Animation</option>
                        <option value="5">Display Time</option>
                        <option value="6">Display Temperature</option>

                        <option value="7">Flash Display</option>
                        <option value="8">Strobes</option>
                        <option value="9">Flash + Strobes</option>
                        <option value="10">Camera Trigger</option>

                        <option value="11" disabled>GPIO Port 1</option>
                        <option value="12" disabled>GPIO Port 2</option>
                        <option value="13" disabled>GPIO Port 3</option>
                        <option value="14" disabled>GPIO Port 4</option>
                    </select>
                    <div class="select-button"></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Filename</label>
                <div class="layui-input-inline">
                    <select class="form-control" id="DisplayPageFile">
                     
                    </select>
                    <div class="select-button"></div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Start Time(Seconds)</label>
                <div class="layui-input-inline">
                    <input type="number" class="form-control-number-points" id="framesPerPixel" name="points" value="1" min="0" max="100" />
                    <div class="input-number-button" id="inputnumber">
                        <div class="add"></div>
                        <div class="reduce"></div>
                    </div>
                </div>
                <span class="unit">Dependent:0.0</span>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Duration (Seconds)</label>
                <div class="layui-input-inline">
                    <input type="number" class="form-control-number-points" id="framesPerPixel" name="points" value="1" min="0" max="100" />
                    <div class="input-number-button" id="inputnumber">
                        <div class="add"></div>
                        <div class="reduce"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text_page_button" style="text-align: center; margin: 40px auto;">
            <input type="button" class="button width80" value="Save" onclick="save()" />
            <input type="button" class="button width80" value="Cancel" onclick="layClose()" />
        </div>
    </div>
</div>
<script>
    layui.use(['layer', 'jquery'], function () {
        var layer = layui.layer,
             $ = layui.jquery;


        $(document).on('click', '#AddSegment', function () {
            layer.open({
                type: 1,
                title: 'Add Segment',
                shadeClose: true,
                area: ['430px', '400px'],
                content: $('#dialogComposite')
            });
        });

      
    });

    $("#DisplayType").change(function () {
        var actionType = $(this).val();
        var size = parseInt($("#pmgInch").val());
        SelectChangeDisplay("DisplayPageFile", actionType, size)
    });

    function SelectChangeDisplay(id, actionType, size) {
        if (actionType == 0 || actionType == 1 || actionType == 5 || actionType == 6) {
            $("#" + id).html("")
            return;
        }

        $.ajax({
            type: "POST",
            url: "/PMG/GetPageDisplay",
            data: { "pmgInch": size, "actionType": parseInt(actionType) },
            timeout: 3000,
            success: function (res) {
                if (res && res.length > 0) {
                    var _html = "";
                    for (var i = 0; i < res.length; i++) {
                        var item = res[i];
                        _html += '<option value="' + StrTrim(item.value) + '">' + item.Text + '</option>';
                    }
                    $("#" + id).html(_html)
                } else {
                    $("#" + id).html("")
                }
            }

        })

    }

</script>