@{
    ViewBag.Title = "Quick Setup";
}

@section crumbs{

    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Setup</span>
        <span>/</span>
        <span>Quick Setup</span>
    </div>
}

<div id="mainContent" class="layui-form">
    <div class="layui-row">

        <div class="header-container"></div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline margin-top10">
                    <label class="layui-form-label">Panel Size</label>
                    <div class="layui-input-inline">
                        <select class="form-control" id="pmgInch">
                            <option value="12">12 Inch Display</option>
                            <option value="15">15 Inch Display</option>
                            <option value="18">18 Inch Display</option>
                        </select>
                        <div class="select-button"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-row" id="IdleDisplay">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>Idle Display</legend>
        </fieldset>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline margin-top20">
                    <label class="layui-form-label">Action to Perform</label>
                    <div class="layui-input-inline">
                        <select class="form-control" id="actionTypeIdle">
                            <option value="0">Display None</option>
                            <option value="1">Display Speed</option>
                            <option value="2">Display Text</option>
                            <option value="3">Display Graphics</option>
                            <option value="4">Display Animation</option>
                            <option value="5">Display Time</option>
                            <option value="6">Display Temperature</option>
                            <option value="7">Display Composite</option>
                        </select>
                        <div class="select-button"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-form-item">
                <div class="layui-inline margin-top20">
                    <div class="layui-input-inline">
                        <select class="form-control pageType"></select>
                        <div class="select-button"></div>
                    </div>
                    <label class="layui-form-label" style="width: auto;padding:0px;"><button class="button margin-left5">Edit</button></label>
                </div>
            </div>
        </div>

    </div>

    <div class="layui-row" id="LimitDisplay">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>Limit Display</legend>
        </fieldset>

        <div class="layui-col-md4">
            <div class="layui-form-item">
                <div class="layui-inline margin-top20">
                    <label class="layui-form-label">Limit Speed</label>
                    <div class="layui-input-inline">
                        <input type="number" class="form-control-number-points" name="points" id="limitSpeed" value="30" min="0" max="255" />
                        <div class="input-number-button">
                            <div class="add"></div>
                            <div class="reduce"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="layui-col-md5">
            <div class="layui-col-md5">
                <div class="layui-form-item" style="padding-left: 8px;">
                    <div class="layui-inline margin-top20">
                        <div class="layui-input-inline">
                            <select class="form-control" id="actionTypeLimit">
                                <option value="0">Display None</option>
                                <option value="1">Display Speed</option>
                                <option value="2">Display Text</option>
                                <option value="3">Display Graphics</option>
                                <option value="4">Display Animation</option>
                                <option value="5">Display Time</option>
                                <option value="6">Display Temperature</option>
                                <option value="7">Display Composite</option>
                            </select>
                            <div class="select-button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md7">
                <div class="layui-form-item">
                    <div class="layui-inline margin-top20">
                        <div class="layui-input-inline">
                            <select class="form-control pageType"></select>
                            <div class="select-button"></div>
                        </div>
                        <label class="layui-form-label" style="width: auto;padding:0px;"><button class="button margin-left5">Edit</button></label>
                    </div>
                </div>
            </div>


        </div>

        <div class="layui-col-md3">
            <div class="layui-form-item">
                <div class="layui-inline margin-top20">
                    <label class="layui-form-label" style="width: auto;">Alert Action</label>
                    <div class="layui-input-inline">
                        <select class="form-control" id="alertActionLimit">
                            <option value="0">No Alert</option>
                            <option value="1">Flash Display</option>
                            <option value="2">Strobes</option>
                            <option value="3">Flash + Strobes</option>
                            <option value="4">Camera Trigger</option>
                            <option value="5">GPIO Port 1</option>
                            <option value="6">GPIO Port 2</option>
                            <option value="7">GPIO Port 3</option>
                            <option value="8">GPIO Port 4</option>
                        </select>
                        <div class="select-button"></div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="layui-row" id="AlertDisplay">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>Alert Display</legend>
        </fieldset>
        <div class="layui-col-md4">
            <div class="layui-form-item">
                <div class="layui-inline margin-top20">
                    <label class="layui-form-label">Alert Speed</label>
                    <div class="layui-input-inline">
                        <input type="number" class="form-control-number-points" name="points" id="alertSpeed" value="40" min="0" max="255" />
                        <div class="input-number-button">
                            <div class="add"></div>
                            <div class="reduce"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="layui-col-md5">
            <div class="layui-col-md5">
                <div class="layui-form-item" style="padding-left: 8px;">
                    <div class="layui-inline margin-top20">
                        <div class="layui-input-inline">
                            <select class="form-control" id="actionTypeAlert">
                                <option value="0">Display None</option>
                                <option value="1">Display Speed</option>
                                <option value="2">Display Text</option>
                                <option value="3">Display Graphics</option>
                                <option value="4">Display Animation</option>
                                <option value="5">Display Time</option>
                                <option value="6">Display Temperature</option>
                                <option value="7">Display Composite</option>
                            </select>
                            <div class="select-button"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md7">
                <div class="layui-form-item">
                    <div class="layui-inline margin-top20">
                        <div class="layui-input-inline">
                            <select class="form-control pageType"></select>
                            <div class="select-button"></div>
                        </div>
                        <label class="layui-form-label" style="width: auto;padding:0px;"><button class="button margin-left5">Edit</button></label>
                    </div>
                </div>
            </div>


        </div>
        <div class="layui-col-md3">
            <div class="layui-form-item">
                <div class="layui-inline margin-top20">
                    <label class="layui-form-label" style="width: auto;">Alert Action</label>
                    <div class="layui-input-inline">
                        <select class="form-control" id="alertActionAlert">
                            <option value="0">No Alert</option>
                            <option value="1">Flash Display</option>
                            <option value="2">Strobes</option>
                            <option value="3">Flash + Strobes</option>
                            <option value="4">Camera Trigger</option>
                            <option value="5">GPIO Port 1</option>
                            <option value="6">GPIO Port 2</option>
                            <option value="7">GPIO Port 3</option>
                            <option value="8">GPIO Port 4</option>
                        </select>
                        <div class="select-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center;margin-top:20px; padding: 30px 0;">
        <button class="button" onclick="submit()">Save To PMG</button>
        <button class="button" style="display:none;">Save Local</button>
        <button class="button" style="display:none;">Save Config</button>
    </div>

</div>


<script>

    function initData() {
        $ajaxFuncNoLoading("@Url.Content("~/PMG/GetQuickSetup")", {}, function (res) {
            console.log("res:", res)
            if (res.code == 0) {
                $("#pmgInch").val(res.model.pmgInch)

                $("#actionTypeIdle").val(res.model.actionTypeIdle)
                getBindPage("IdleDisplay", res.model.pageTypeIdle, res.model.IdlePageList);

                $("#limitSpeed").val(res.model.limitSpeed)
                $("#actionTypeLimit").val(res.model.actionTypeLimit)
                getBindPage("LimitDisplay", res.model.pageTypeLimit, res.model.LimitPageList);
                $("#alertActionLimit").val(res.model.alertActionLimit)

                $("#alertSpeed").val(res.model.alertSpeed)
                $("#actionTypeAlert").val(res.model.actionTypeAlert)
                getBindPage("AlertDisplay", res.model.pageTypeAlert, res.model.AlertPageList);
                $("#alertActionAlert").val(res.model.alertActionAlert)
            }
        });
    }

    function getBindPage(id, selectPage,list) {
        var _html = "";
        selectPage = $.trim(selectPage);
        if (list.length > 0)
        {
            for (var i = 0; i < list.length; i++) {
                var item = list[i];
                var value = $.trim(item.value);
                if (value == selectPage) {
                    _html += '<option value="' + value + '" selected="selected">' + item.Text + '</option>';
                } else {
                    _html += '<option value="' + value + '">' + item.Text + '</option>';
                }              
            }
        }
       
        $("#" + id).find(".pageType").html(_html)
    }

    function submit() {
        var pmgid = $("#hidSelectCurrentPMGID").val();
        if (!pmgid) {
            LayerAlert("Please select a device");
            return false;
        }

        var pmgInch = $("#pmgInch").val();
        var actionTypeIdle = $("#actionTypeIdle").val();
        var pageTypeIdle =StrTrim($("#IdleDisplay").find(".pageType").val());

        var limitSpeed = $("#limitSpeed").val();
        if (limitSpeed < 0) {
            LayerAlert("Limit Speed can't be less than 0");
            return false;
        }
        if (limitSpeed > 255) {
            LayerAlert("Limit Speed can't be more than 255");
            return false;
        }
        var actionTypeLimit = $("#actionTypeLimit").val();
        var pageTypeLimit =StrTrim($("#LimitDisplay").find(".pageType").val());
        var alertActionLimit = $("#alertActionLimit").val();

        var alertSpeed = $("#alertSpeed").val();
        if (alertSpeed < 0) {
            LayerAlert("Alert Speed can't be less than 0");
            return false;
        }
        if (alertSpeed > 255) {
            LayerAlert("Alert Speed can't be more than 255");
            return false;
        }
        var actionTypeAlert = $("#actionTypeAlert").val();
        var pageTypeAlert = StrTrim($("#AlertDisplay").find(".pageType").val());
        var alertActionAlert = $("#alertActionAlert").val();

        var jsonData = {
            "pmgid": pmgid, "pmgInch": pmgInch, "actionTypeIdle": actionTypeIdle, "pageTypeIdle": pageTypeIdle,
            "limitSpeed": limitSpeed, "actionTypeLimit": actionTypeLimit, "pageTypeLimit": pageTypeLimit, "alertActionLimit": alertActionLimit,
            "alertSpeed": alertSpeed, "actionTypeAlert": actionTypeAlert, "pageTypeAlert": pageTypeAlert, "alertActionAlert": alertActionAlert
        };
        $ajaxFunc("@Url.Content("~/PMG/SaveQuickSetup")", jsonData, function (res) {
            LayerAlert(res.msg);
        });
    }

    $("#pmgInch").change(function () {
        $("#actionTypeIdle").val(0);
        SelectChangeDisplay("IdleDisplay", 0)
        $("#actionTypeLimit").val(0);
        SelectChangeDisplay("LimitDisplay", 0)
        $("#actionTypeAlert").val(0);
        SelectChangeDisplay("AlertDisplay", 0)
    })

    $("#actionTypeIdle").change(function () {
        var actionType = $(this).val();
        SelectChangeDisplay("IdleDisplay", actionType)
    });

    $("#actionTypeLimit").change(function () {
        var actionType = $(this).val();
        SelectChangeDisplay("LimitDisplay", actionType)
    });

    $("#actionTypeAlert").change(function () {
        var actionType = $(this).val();
        SelectChangeDisplay("AlertDisplay", actionType)
    });


    function SelectChangeDisplay(id, actionType) {
        if (actionType == 0 || actionType == 1 || actionType == 5 || actionType == 6) {
            $("#" + id).find(".pageType").html("")
            return;
        }

        $.ajax({
            type: "POST",
            url: "@Url.Content("~/PMG/GetPageDisplay")",
            data: { "pmgInch": parseInt($("#pmgInch").val()), "actionType": parseInt(actionType) },
            timeout: 3000,
            success: function (res) {
                if (res && res.length > 0) {
                    var _html = "";
                    for (var i = 0; i < res.length; i++) {
                        var item = res[i];
                        _html += '<option value="' + StrTrim(item.value) + '">' + item.Text + '</option>';
                    }
                    $("#" + id).find(".pageType").html(_html)
                } else {
                    $("#" + id).find(".pageType").html("")
                }
            }

        })

    }

    $(function () {
        initData()
    });
</script>



