@{
    ViewBag.Title = "TextOptions";
}

@section crumbs{

    <div>
        <span onclick="HomePage()" style="cursor:pointer;">Home</span>
        <span>/</span>
        <span>Device Mananger</span>
        <span>/</span>
        <span>SetUp</span>
        <span>/</span>
        <span>Text Options</span>
    </div>
}

<div id="mainContent" class="layui-form text-options">

    <div class="layui-fuild">

        <div class="layui-row textOptions">

            <div class="select">
                <div class="title">
                    Installed Text Pages
                </div>
                <div class="select-box">

                    <select multiple="multiple" class="multiple" style="">
                        <option selected="selected">School Zone</option>
                        <option>Work Zone</option>
                        <option>Slow Zone</option>
                        <option>Reduce Speed</option>
                        <option>User Care</option>
                        <option>Slick Roads</option>
                        <option>Ice Ahead</option>
                        <option>DIP Ahead</option>
                        <option>Bike Lane</option>
                        <option>Thank You</option>
                        <option>Ramp Open</option>
                        <option>Ramp Closed</option>
                        <option>Exit</option>
                        <option>Buckle Up</option>
                        <option>Icy Bridge</option>
                        <option>Slow Traffic</option>
                        <option>Lane Closed</option>
                        <option>Crew Working</option>
                        <option>Do Not Pass</option>
                        <option>Drive Safely</option>
                        <option>Dust Storm</option>
                        <option>Exit Here</option>
                        <option>Exit Now</option>
                        <option>Keep Right</option>
                    </select>
                </div>
            </div>
            <div class="selected">
                <div class="selected-info">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Name</label>
                            <div class="layui-input-inline">
                                <input type="text" name="text-line-name" class="form-control" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">Panel Size:12</label>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Line 1</label>
                            <div class="layui-input-inline">
                                <input type="text" name="text-line-name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Line 2</label>
                            <div class="layui-input-inline">
                                <input type="text" name="text-line-name" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selected-options">
                    <div class="title">Display Settings</div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Scroll Type</label>
                            <div class="layui-input-inline">
                                <select class="form-control">
                                    <option>No Scrolling</option>
                                    <option>Right to Left</option>
                                    <option>Left to Right</option>
                                </select>
                                <div class="select-button"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Start Hold</label>
                            <div class="layui-input-inline">
                                <select class="form-control">

                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                                <div class="select-button"></div>
                            </div>
                            <span class="unit">Seconds</span>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">End Hold</label>
                            <div class="layui-input-inline">
                                <select class="form-control">

                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                                <div class="select-button"></div>
                            </div>
                            <span class="unit">Seconds</span>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Scroll Start</label>
                            <div class="layui-input-inline">
                                <select class="form-control">

                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                                <div class="select-button"></div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">Scroll End</label>
                            <div class="layui-input-inline">
                                <select class="form-control">

                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                </select>
                                <div class="select-button"></div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">Frames Per Pixel</label>
                            <div class="layui-input-inline">
                                <input type="number" class="form-control-number-points" name="points" value="45" min="0" max="100" />
                                <div class="input-number-button">
                                    <div class="add"></div>
                                    <div class="reduce"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--         <div class="layui-col-md6">
                         <div class="layui-form-item">
                             <div class="layui-inline">
                                 <label class="layui-form-label">Text</label>
                                 <div class="layui-input-inline">
                                     <select class="form-control">
                                         <option>None</option>
                                         <option>2</option>
                                         <option>3</option>
                                     </select>
                                     <div class="select-button"></div>
                                 </div>
                             </div>

                             <div class="layui-inline">
                                 <label class="layui-form-label">Graphics</label>
                                 <div class="layui-input-inline">
                                     <select class="form-control">
                                         <option>Options</option>
                                         <option>2</option>
                                         <option>3</option>
                                     </select>
                                     <div class="select-button"></div>
                                 </div>
                             </div>

                             <div class="layui-inline">
                                 <label class="layui-form-label">Animations</label>
                                 <div class="layui-input-inline">
                                     <select class="form-control">
                                         <option>Options</option>
                                         <option>2</option>
                                         <option>3</option>
                                     </select>
                                     <div class="select-button"></div>
                                 </div>
                             </div>

                         </div>
                     </div>-->
        </div>
    </div>

    <div style="text-align: center;padding: 40px 0;">
        <button class="button" type="submit">Restore To</button>
        <button class="button" type="submit">Save To PMG</button>
        <button class="button" type="submit">Save File</button>
    </div>

    <div style="text-align: center;padding: 40px 0;">
        <button class="button" type="submit">Save Local</button>
        <button class="button" type="submit">Delete File</button>
        <button class="button" type="submit">Save To PMG and Run</button>
    </div>

</div>